<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c9970ec2-ef51-4c2a-a3b8-6b535a004571/resourceGroups/appdev-rg-dev-we-starbucks/providers/Microsoft.Web/sites/appdev-app-dev-we-starbuck</ResourceId>
    <ResourceGroup>appdev-rg-dev-we-starbucks</ResourceGroup>
    <ApiResourceId>/subscriptions/c9970ec2-ef51-4c2a-a3b8-6b535a004571/resourceGroups/appdev-rg-dev-we-starbucks/providers/Microsoft.ApiManagement/service/appdev-apim-dev-we-starbuck/apis/echo-api</ApiResourceId>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://appdev-app-dev-we-starbuck-dkbxeqhxdrg8aah8.westeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>a1f5298c-ffc7-43ba-a3aa-0138acd0a0a3</ProjectGuid>
    <MSDeployServiceURL>appdev-app-dev-we-starbuck-dkbxeqhxdrg8aah8.scm.westeurope-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>appdev-app-dev-we-starbuck</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>